<div class="container">
    <div class="row">
        <h1>WASHINGTON, D.C.</h1>
    </div>
    <div class="row">
        <div class="col">
            <p>Humidity: {{ humidity }}%</p>
            <p>Temperature (Average): {{ avgTemp }} K</p>
            <p>Temperature (High): {{ highTemp }} K</p>
            <p>Temperature (Low): {{ lowTemp }} K</p>
            <p>Status: {{ status }}</p>
        </div>
        <div class="col">
            <img src='{{ imgURL }}'>
        </div>
    </div>
</div>