<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel='stylesheet' href='style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <h1>Welcome to Quoting Dojo</h1>
        <div class='main'>
            <form action='/addQuote' method='POST'>
                <div class='labels'>
                    <p><label for='name'>Your name: </label></p>
                    <p><label for='quote'>Your quote: </label></p>
                </div>
                <div class='inputs'>
                    <p><input type='text' name='name'></p>
                    <p><textarea name='quote' rows='5'></textarea></p>
                </div>
                    <button type='submit' class='btn btn-success'>Add my quote!</button>
            </form>
            <form action='/quotes' method='GET'>
                <button type='submit' class='btn btn-info'>Skip to quotes!</button>
            </form>
        </div>
    </div>
</body>
</html>