<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel='stylesheet' href='style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <h1>Here are the awesome quotes!</h1>
        <table>
            <% for (var quote of quotes) { %>
            <tr>
                <td class='quotation'>"<%= quote.quote %>"</td>
                <!-- <td class='delete'><a href='/quotes/<%= quote._id %>/destroy'>Delete</a></td> -->
            </tr>
            <tr>
                <td></td>
                <td class='blue'>-<%= quote.name %> at <%= quote.created_at %></td>
            </tr>
            <% } %>
        </table>
        <a href='/' class='btn btn-primary'>Go back</a>
    </div>
</body>
</html>