.container{
    padding: 20px;
    div{
        display: inline-block;
        width: 20%;
        background-color: palevioletred;
        margin: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    button{
        background: #70707071;
        border-radius: 5px;
        border: 1px solid black;
    }
}