<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Fishing</title>
</head>
<body>
    <h1>Jason is there and you die a quick easy death</h1>
    <a href="/">Get a life</a>
</body>
</html>