<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <h1>Productivity at -100%</h1>
    <h2>Choose your next action carefully...</h2>
    <ul>
        <li><a href='/home/read'>Read a book</a></li>
        <li><a href='/home/nap'>Take a nappy nap</a></li>
        <li><a href='/home/snack'>Eat a snacky snack</a></li>
    </ul>
</body>
</html>