<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lake</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>You Arrive to the lake</h1>
    <p><a href="/tent">Set up Tent</a></p>
    <p><a href="/fishing">Go fishing</a></p>
    <p><a href="/home">Actually I'm going to go Home</a></p>
</body>
</html>