<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nap time</title>
</head>
<body>
    <h1>NAP TIME! Wake up when it's...</h1>
    <h2><a href='/home/snack'>SNACK TIME</a></h2>
</body>
</html>