<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='style.css'>
    <title>Read a Book</title>
</head>
<body>
    <h1>You've decided to read a book. Good for you!</h1>
    <h2>Knowledge: +5000pts</h2>
    <h3>Now you are feeling rejuvenated, and ready to venture out</h3>
    <a href="/">Way to stay alive!</a>
</body>
</html>