<div class="subcontainer">
    <div class="row">
        <div class="col">
            <h1 class='title'>Product List</h1>
            <button class='addnew' [routerLink]="['/products/new']">Add New Product</button>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <table>
            <thead>
                <th>id</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor='let product of products'>
                    <td>{{ product._id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>${{ product.price }}</td>
                    <td>
                        <button class='edit' [routerLink]="['/products', product._id, 'edit']">Edit</button>
                        <button class= 'details' [routerLink]="['/products', product._id]">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>