<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
    <h1>Check out these cool cars!</h1>
    <img src='images/elcamino.jpg' alt='Chevy El Camino'>
    <img src='images/honda_crv.jpeg' alt='Honda CRV'>
    <img src='images/mustang.jpg' alt='Ford Mustang'>
    <img src='images/wraith.jpg' alt='Rolls Royce Wraith'>
</body>
</html>