<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Cats</title>
    <link rel='stylesheet' href='style/style.css'>
</head>
<body>
    <div class='container'>
        <div class='header'>
            <h1>Check out these cool cats and kittens!</h1>
        </div>
        <div class='main'>
            <div class='row'>
                <div class='col'>
                    <a href='/jeffrey'><img src='images/cutie2.jpeg' alt='Cute kitten 2'></a>
                    <p>Jeffrey</p>
                </div>
                <div class='col'>
                    <a href='/shoopy'><img src='images/cutie3.jpg' alt='Cute kitten 3'></a>
                    <p>Shoopy</p>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <a href='/meowey'><img src='images/cutie1.jpeg' alt='Cute kitten 1'></a>
                    <p>Meowey</p>
                </div>
                <div class='col'>
                    <a href='/kracken'><img src='images/cutie4.jpg' alt='Cute kitten 4'></a>
                    <p>Kracken</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>