.container{
    padding: 20px 20px
}

.messageForm{
    margin: auto;
}

.row{
    padding: 10px 10px
    margin: auto;
    /* border: 1px solid black; */
}

.messages{
    color: blue;
    /* border: 1px solid black; */
    height: fit-content;
    display: block;
}

.comments{
    /* border: 1px solid orange; */
    height: fit-content;
    margin: 10px 10px;
    display: block;
}

.commentForm{
    /* border: 1px solid red; */
    margin: 0px 10px;
    display: block;
}

button{
    margin: 0px 10px;
}