.container{
    padding: 20px 20px;
    font-family: sans-serif;
    border: 5px solid paleturquoise;
}

.col{
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
}

.individuals{
    border: 1px solid rgb(182, 182, 182);
    margin: 5px;
}