<form method='POST' action='/sessions'>
    <p>Name</p>
    <input type='text' name='name'>
    <p>Password</p>
    <input type='password' name='password'>
    <input type='submit' value='login'>
</form>