/* You can add global styles to this file, and also import other style files */

h1{
    background-color: blue;
    span{
        color: seagreen;
    }
}



h2{
    color: red;
    span{
        background-color: slateblue;
    }
}